{% extends "admin/change_form.html" %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">

String.format = function() {
  var s = arguments[0];
  for (var i = 0; i < arguments.length - 1; i++) {       
    var reg = new RegExp("\\{" + i + "\\}", "gm");             
    s = s.replace(reg, arguments[i + 1]);
  }

  return s;
}

function dismissAddAnotherPopupTree(win, newId, newRepr, parent) {
    // newId and newRepr are expected to have previously been escaped by
    // django.utils.html.escape.
    newId = html_unescape(newId);
    newRepr = html_unescape(newRepr);
    var name = windowname_to_id(win.name);
    var elem = document.getElementById(name);
    
    var tree_item = null;

	var item_parent_id = "categories_root";
	var item_id = String.format('item_{0}', newId);
	var item_html = String.format('<li id="{0}"><input type="checkbox" value="{1}" name="categories" id="id_categories_{1}">{2}</li>', item_id, newId, newRepr);
	//ako nema parent onda je root
    if (parent == '') {
	    
	} else {
		item_parent_id = 'item_' + parent + '_root';
		var root_elem = document.getElementById(item_parent_id);
		if (root_elem == null) {
			item_id = item_parent_id;
			item_parent_id = 'item_' + parent;
			item_html = String.format('<ul id="{0}">{1}</ul>', item_id, item_html);
		}
	}
	tree_item = $(item_html).appendTo("#"+item_parent_id);

    $("#categories_root").treeview({
        add: tree_item
    });

    win.close();
}
</script>
{% endblock %}